body{
 font-family: 'Open Sans', sans-serif;
   font-size: 100%;
	background: url(../images/jackass.jpg);
	background-size: cover;
}
.style {
	text-align: center;
	padding: 150px 350px;
}
.style h1 {
	font-size: 35px;
	font-weight: 800;
	color: black;
}
.style h2 {
	font-size: 20px;
	font-weight: 600;
	color: black;
}